/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* body y extras */
body {
  background-color: #EEEEEE;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header a {
  text-decoration: none; }

header nav ul {
  list-style: none; }

/* Header */
.header {
  background-color: #082032;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem 0rem #082032;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2000; }

/* logo */
.logo {
  display: inline-block;
  font-size: 3.75rem;
  margin-left: 0.625rem;
  color: #AA14F0; }

/* menu de navegacion */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #082032;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out; }

.menu a {
  display: block;
  padding: 1.875rem;
  color: #eee;
  font-size: 2rem; }

.menu a:hover {
  background-color: #082032; }

/* icono menu */
.hamb {
  cursor: pointer;
  float: right;
  padding: 2.5rem 1.25rem; }

/* estilos label tag */
.hamb-line {
  background: #EEEEEE;
  display: block;
  height: 0.125rem;
  position: relative;
  width: 1.5rem; }

/* estilos span tag */
.hamb-line::before,
.hamb-line::after {
  background: #EEEEEE;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.hamb-line::before {
  top: 0.3125rem; }

.hamb-line::after {
  top: -0.3125rem; }

/* esconder checkbox */
.side-menu {
  display: none; }

/* toggle icono de menu */
.side-menu:checked ~ nav {
  max-height: 100%; }

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent; }

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0; }

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0; }

/* main "index" */
main .container-main img {
  display: none; }

main .container-main .texto .titulo-index {
  color: #AA14F0;
  text-align: center;
  font-weight: 900;
  padding: 1rem; }

main .container-main .texto .parrafo-index1 {
  font-size: 1.5rem;
  padding: 0 1rem; }

main .container-main .texto .parrafo-index2 {
  font-size: 2rem;
  text-align: center;
  color: #AA14F0; }

/*main "fotos del clan"*/
.titulo-fotos {
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  color: #AA14F0; }

/*main integrantes*/
main .titulo-integrantes {
  text-align: center;
  color: #AA14F0;
  margin-top: 1rem; }

main .parrafo1-integrantes {
  font-size: 1.5rem;
  padding: 0.5rem; }

main .parrafo2-integrantes {
  font-size: 1.5rem;
  padding: 0.5rem; }

main ul .integrante {
  margin: 0.5rem; }

/*main "logros"*/
main .fotos-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }
  main .fotos-container .logros-foto1 {
    height: 6rem;
    margin: 1rem 0 1rem 0; }
  main .fotos-container .logros-foto2 {
    height: 6rem;
    margin: 1rem 0 1rem 0; }
  main .fotos-container .logros-foto3 {
    height: 6rem;
    margin: 1rem 0 1rem 0; }

main .texto-logros {
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 0; }

main ul li {
  font-size: 1.5rem; }

main .mensaje-final-logros {
  text-align: center;
  color: #AA14F0;
  font-size: 1.5rem;
  text-transform: uppercase; }

/*main "Unete a MAG TURED"*/
.main-form {
  padding: 0 1.5em; }
  .main-form .content {
    max-width: 73.125rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
    .main-form .content .logo-form {
      text-align: center;
      font-size: 3em; }
      .main-form .content .logo-form span {
        color: #AA14F0; }
  .main-form .contact-wrapper {
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.3); }
    .main-form .contact-wrapper .contact-form {
      background: #dddddd; }
      .main-form .contact-wrapper .contact-form h3 {
        text-align: center; }
      .main-form .contact-wrapper .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr; }
      .main-form .contact-wrapper .contact-form .block {
        grid-column: 1 / 3; }
      .main-form .contact-wrapper .contact-form p {
        margin: 0;
        padding: 1em; }
        .main-form .contact-wrapper .contact-form p .boton-enviar {
          background: #AA14F0;
          border: 0;
          text-transform: uppercase;
          padding: 1em; }
          .main-form .contact-wrapper .contact-form p .boton-enviar a {
            text-decoration: none;
            color: #000; }
    .main-form .contact-wrapper form button, .main-form .contact-wrapper form input, .main-form .contact-wrapper form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: none;
      border-bottom: 0.0625rem solid #AA14F0; }
  .main-form .contact-info {
    background: #7d7783; }
    .main-form .contact-info h4 {
      text-transform: uppercase; }
    .main-form .contact-info ul {
      list-style: none;
      padding: 0; }
      .main-form .contact-info ul li {
        padding: .3em; }
    .main-form .contact-info h4, .main-form .contact-info ul, .main-form .contact-info p {
      text-align: center;
      margin: 0 0 1rem 0; }

.contact-wrapper > * {
  padding: 1em; }

/* footer */
footer {
  margin-top: auto;
  text-align: center;
  background-color: #072227; }
  footer a {
    text-decoration: none;
    color: white; }
  footer p {
    color: white; }

/* media querys */
@media (min-width: 768px) {
  /*Body*/
  body header nav ul {
    margin-bottom: 0 !important; }
  /*menu de navegacion*/
  .header a .logo {
    font-size: 3.75rem;
    text-decoration: none; }
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content; }
  .menu li {
    float: left; }
  .menu a:hover {
    background-color: transparent;
    color: #AA14F0; }
  .hamb {
    display: none; }
  /*main index*/
  main .container-main {
    display: flex;
    justify-content: space-between; }
    main .container-main img {
      width: 18.75rem;
      display: block; }
  /*main-logros*/
  main .fotos-container .logros-foto1 {
    height: 10rem; }
  main .fotos-container .logros-foto2 {
    height: 10rem; }
  main .fotos-container .logros-foto3 {
    height: 10rem; }
  /*main fotos del clan*/ }

@media (min-width: 768px) and (min-width: 768px) {
  .carousel-inner {
    display: flex; }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block; } }

@media (min-width: 768px) {
  .carousel-inner {
    padding: 1em; }
  .card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none; }
  .carousel-control-prev, .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%); }
  /*main unete a MAG TURED*/
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4, .contact-info ul, .contact-info p {
    padding: 1em; } }
