/* footer */
footer{
    margin-top: auto;
    text-align: center;
    background-color: #072227;
    a{
        text-decoration: none;
        color: white;
    }
    p{
        color: white;
    }
}