// Variables de color
$color-header-bg: #082032;
$color-header-texto: #AA14F0;
$color-header-h1: #eee;
$color-main-bg: #EEEEEE;
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



